body {
  width: 1920px;
  background-color: #e9edee;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
  width: 100%;
}

.bg-dark {
  color: #eaeded;
  background-color: #364758;
  font-size: 1.3rem;
}

.bg-yellow {
  color: #eaeded;
  background-color: #f56600;
  font-size: 1.3rem;
}

header div {
  height: 80px;
  background-color: #222f3f;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 35px;
}

header div img {
  height: 52px;
  text-align: left;
}

header section {
  height: 45px;
  background-color: #364758;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
}

header section p {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  margin-left: 30px;
}

main {
  height: 2365px;
}

#section1 {
  width: 1830px;
  box-sizing: border-box;
  height: 45px;
  margin: 45px;
  padding-top: 12px;
}

#section2 {
  color: white;
  width: 1830px;
  background-image: url(../images/bg-image.png);
  background-size: 93%;
  box-sizing: border-box;
  height: 260px;
  margin: 45px;
}

#section2 div {
  padding-top: 100px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 600;
}

h2 {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 20px;
}

h2 p {
  color: #0e7380;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  padding-left: 15px;
}

#section3 {
  width: 1830px;
  background-color: white;
  box-sizing: border-box;
  height: 610px;
  margin: 45px;
  padding: 30px 0px 30px 32px;
}

#section3 div {
  width: 405px;
  height: 505px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 41px;
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.4);
}

#img1 {
  background-image: url(../images/img_1.jpg);
}

#img2 {
  background-image: url(../images/img_2.jpg);
}

#img3 {
  background-image: url(../images/img_3.jpg);
}

#img4 {
  background-image: url(../images/img_4.jpg);
}

#section4 {
  background-image: url(../images/img_9.png);
  background-size: 101%;
  width: 1830px;
  background-color: white;
  box-sizing: border-box;
  height: 560px;
  margin: 45px 45px 10px 45px;
}

#section5 {
  background-image: url(../images/img_10.png);
  background-size: 101%;
  width: 1830px;
  background-color: white;
  box-sizing: border-box;
  height: 560px;
  margin: 45px 45px 10px 45px;
}

footer section {
  height: 70px;
  box-sizing: border-box;
  padding: 25px;
  font-weight: bold;
}

footer div {
  height: 255px;
  background-color: #222f3f;
  box-sizing: border-box;
  padding: 80px;
}

footer div img {
  height: 80px;
}
